.Hero {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/images/icebreaker-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* Optional: Prevent children from overflowing */
}

.Hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Changed from right: 0 to left: 0 for consistency */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.Hero>* {
    z-index: 1;
    position: relative;
}

.hero-bottom {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem);
}

.hero-bottom ul {
    display: flex;
    gap: 15px;
}

.hero-bottom li {}

.hero-bottom a {
    display: flex;
    padding: .75rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
}

.header-right {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, transparent 0%, #161616 10%);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right img {
    width: 50%;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 0 20px black;
    filter: grayscale(.5) saturate(.5);
}

@media(max-width: 900px) {
    .header-right {
        display: none;
    }
}